# Loading the Officers

We have a data file of officers who have a level of control over the company. We need to map these into the system to connect them to the PSC people we are aware of.

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

import blaze as bz

/home/ec2-user/anaconda3/lib/python3.6/site-packages/odo/backends/pandas.py:94: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

First load some sample data and do some tidying up so we don't waste RAM.

In [2]:
master_path = './data/'

In [3]:
sample_df = pd.read_csv(master_path+'officers.csv', nrows=10000)

In [4]:
sample_df.columns

Index(['id', 'company_number', 'jurisdiction_code', 'name', 'title',
       'first_name', 'last_name', 'position', 'start_date', 'person_number',
       'person_uid', 'end_date', 'current_status', 'occupation', 'nationality',
       'country_of_residence', 'partial_date_of_birth', 'type',
       'address.in_full', 'address.street_address', 'address.locality',
       'address.region', 'address.postal_code', 'address.country',
       'retrieved_at', 'source_url'],
      dtype='object')

In [5]:
sample_df[sample_df.end_date.isnull()].iloc[0]

id                                                                201499282
company_number                                                     05957738
jurisdiction_code                                                        gb
name                                                      DAVID IAN BROMLEY
title                                                                    MR
first_name                                                        DAVID IAN
last_name                                                           BROMLEY
position                                                           director
start_date                                                       2010-10-01
person_number                                                  115947850001
person_uid                                                         11594785
end_date                                                                NaN
current_status                                                          NaN
occupation                                                         DIRECTOR
nationality                                                         BRITISH
country_of_residence                                         UNITED KINGDOM
partial_date_of_birth                                               1970-05
type                                                                 Person
address.in_full           40 LEA MANOR DRIVE\nPENN, WOLVERHAMPTON, WEST ...
address.street_address                             40 LEA MANOR DRIVE\nPENN
address.locality                                              WOLVERHAMPTON
address.region                                                WEST MIDLANDS
address.postal_code                                                 WV4 5PJ
address.country                                              UNITED KINGDOM
retrieved_at                                        2015-12-04 00:00:00 UTC
source_url                https://beta.companieshouse.gov.uk/company/059...
Name: 1, dtype: object

In [6]:
sample_df[sample_df.type == 'Person'].head()

,id,company_number,jurisdiction_code,name,title,first_name,last_name,position,start_date,person_number,...,partial_date_of_birth,type,address.in_full,address.street_address,address.locality,address.region,address.postal_code,address.country,retrieved_at,source_url
1,201499282,05957738,gb,DAVID IAN BROMLEY,MR,DAVID IAN,BROMLEY,director,2010-10-01,115947850001,...,1970-05,Person,"40 LEA MANOR DRIVE\nPENN, WOLVERHAMPTON, WEST ...",40 LEA MANOR DRIVE\nPENN,WOLVERHAMPTON,WEST MIDLANDS,WV4 5PJ,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/059...
2,201499298,05957738,gb,DAVID IAN BROMLEY,MR,DAVID IAN,BROMLEY,director,2006-10-05,115947850001,...,1970-05,Person,"40 LEA MANOR DRIVE, WOLVERHAMPTON, WV4 5PJ",40 LEA MANOR DRIVE,WOLVERHAMPTON,NaN,WV4 5PJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/059...
3,201499319,05957738,gb,SALLY-ANN MICHELLE BROMLEY,MRS,SALLY-ANN MICHELLE,BROMLEY,director,2012-12-21,121484190003,...,1966-08,Person,"PENYCASTELL FARM BRYN, PORT TALBOT, WEST GLAMO...",PENYCASTELL FARM BRYN,PORT TALBOT,WEST GLAMORGAN,SA13 2PY,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/059...
4,201499336,05957738,gb,ELIZABETH DAVIES,MS,ELIZABETH,DAVIES,director,2006-10-05,115947860002,...,1962-01,Person,"12 PONTYMASON RISE\nROGERSTONE, NEWPORT, GWENT...",12 PONTYMASON RISE\nROGERSTONE,NEWPORT,GWENT,NP10 9GJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/059...
9,190421889,04066366,gb,RAZAHUSSEIN LALJI MAMDANI,MR,RAZAHUSSEIN LALJI,MAMDANI,director,2011-08-15,71984350001,...,1947-07,Person,"PREMIER SUITE, 4 CHURCHILL COURT\n58 STATION R...","PREMIER SUITE, 4 CHURCHILL COURT\n58 STATION ROAD",NORTH HARROW,MIDDLESEX,HA2 7ST,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/040...

In [7]:
sample_df[sample_df.title.isnull()]

,id,company_number,jurisdiction_code,name,title,first_name,last_name,position,start_date,person_number,...,partial_date_of_birth,type,address.in_full,address.street_address,address.locality,address.region,address.postal_code,address.country,retrieved_at,source_url
0,201499267,05957738,gb,PHOENIX AUDIT LIMITED,NaN,NaN,PHOENIX AUDIT LIMITED,secretary,2006-10-05,99992830001,...,NaN,Company,"35 OXFORD STREET\nPONTYCYMER, BRIDGEND, CF32 8DD",35 OXFORD STREET\nPONTYCYMER,BRIDGEND,NaN,CF32 8DD,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/059...
5,190421841,04066366,gb,FATBRAIN.COM LIMITED,NaN,NaN,FATBRAIN.COM LIMITED,secretary,2000-09-06,83435930001,...,NaN,Company,PREMIER SUITE 4 CHURCHILL COURT\n58 STATION RO...,PREMIER SUITE 4 CHURCHILL COURT\n58 STATION ROAD,NORTH HARROW,MIDDLESEX,HA2 7ST,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/040...
6,190421851,04066366,gb,FIRST SECRETARIES LIMITED,NaN,NaN,FIRST SECRETARIES LIMITED,secretary,2000-09-06,900000780001,...,NaN,Company,"72 NEW BOND STREET, LONDON, W1S 1RR",72 NEW BOND STREET,LONDON,NaN,W1S 1RR,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/040...
7,190421865,04066366,gb,A COMPANY LIMITED,NaN,NaN,+A COMPANY LIMITED,director,2000-09-06,72279610010,...,NaN,Company,PREMIER SUITE 4 CHURCHILL COURT\n58 STATION RO...,PREMIER SUITE 4 CHURCHILL COURT\n58 STATION ROAD,NORTH HARROW,MIDDLESEX,HA2 7ST,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/040...
8,190421877,04066366,gb,FIRST DIRECTORS LIMITED,NaN,NaN,FIRST DIRECTORS LIMITED,director,2000-09-06,900000770001,...,1989-08,Company,"72 NEW BOND STREET, LONDON, W1S 1RR",72 NEW BOND STREET,LONDON,NaN,W1S 1RR,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/040...
11,207362364,05438136,gb,INCORPORATE SECRETARIAT LIMITED,NaN,NaN,INCORPORATE SECRETARIAT LIMITED,secretary,2005-04-27,900028930001,...,NaN,Company,"4TH FLOOR 3 TENTERDEN STREET\nHANOVER SQUARE, ...",4TH FLOOR 3 TENTERDEN STREET\nHANOVER SQUARE,LONDON,NaN,W1S 1TD,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/054...
14,207362418,05438136,gb,INCORPORATE DIRECTORS LIMITED,NaN,NaN,INCORPORATE DIRECTORS LIMITED,director,2005-04-27,900030870001,...,NaN,Company,"4TH FLOOR, 3 TENTERDEN STREET\nHANOVER SQUARE,...","4TH FLOOR, 3 TENTERDEN STREET\nHANOVER SQUARE",LONDON,NaN,W1S 1TD,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/054...
16,212181681,SC322354,gb,PATRICIA ELIZABETH BUTLER,NaN,PATRICIA ELIZABETH,BUTLER,secretary,2007-04-26,91946330002,...,1960-08,Person,"8 BERNISDALE GARDENS\nDRUMCHAPEL, GLASGOW, LAN...",8 BERNISDALE GARDENS\nDRUMCHAPEL,GLASGOW,LANARKSHIRE,G15 8BU,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/SC3...
17,212181694,SC322354,gb,THOMAS BUTLER,NaN,THOMAS,BUTLER,director,2007-04-26,120439080001,...,1961-07,Person,"8 BERNISDALE GARDENS, GLASGOW, STRATHCLYDE, G1...",8 BERNISDALE GARDENS,GLASGOW,STRATHCLYDE,G15 8BU,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/SC3...
18,205069123,05149111,gb,CLIFFORD CHANCE SECRETARIES (CCA) LIMITED,NaN,NaN,CLIFFORD CHANCE SECRETARIES (CCA) LIMITED,secretary,2004-11-16,83911920002,...,NaN,Company,"10 UPPER BANK STREET, LONDON, E14 5JJ",10 UPPER BANK STREET,LONDON,NaN,E14 5JJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
19,205069138,05149111,gb,CLIFFORD CHANCE SECRETARIES LIMITED,NaN,NaN,CLIFFORD CHANCE SECRETARIES LIMITED,secretary,2004-06-09,900005620001,...,NaN,Company,"10 UPPER BANK STREET, LONDON, E14 5JJ",10 UPPER BANK STREET,LONDON,NaN,E14 5JJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
20,205069156,05149111,gb,JOHN DAVIES,NaN,JOHN,DAVIES,secretary,2007-09-18,115843280001,...,1960-02,Person,"ENBROOK PARK SANDGATE, FOLKESTONE, KENT, CT20 ...",ENBROOK PARK SANDGATE,FOLKESTONE,KENT,CT20 3SE,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
21,205069167,05149111,gb,VICTORIA HAYNES,NaN,VICTORIA,HAYNES,secretary,2013-10-01,182037440001,...,NaN,Person,"ENBROOK PARK SANDGATE, FOLKESTONE, KENT, CT20 ...",ENBROOK PARK SANDGATE,FOLKESTONE,KENT,CT20 3SE,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
22,205069187,05149111,gb,MARK FALCON MILLAR,NaN,MARK FALCON,MILLAR,secretary,2014-09-08,190875400001,...,NaN,Person,"FANUM HOUSE BASING VIEW\nBASINGSTOKE, HANTS, R...",FANUM HOUSE BASING VIEW\nBASINGSTOKE,HANTS,NaN,RG21 4EA,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
23,205069203,05149111,gb,TAGUMA NGONDONGA,NaN,TAGUMA,NGONDONGA,secretary,2012-08-17,171614160001,...,NaN,Person,"FANUM HOUSE BASING VIEW, BASINGSTOKE, HAMPSHIR...",FANUM HOUSE BASING VIEW,BASINGSTOKE,HAMPSHIRE,RG21 4EA,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
24,205069220,05149111,gb,ROBERT JAMES SCOTT,NaN,ROBERT JAMES,SCOTT,secretary,2014-04-22,187308770001,...,NaN,Person,"FANUM HOUSE BASING VIEW, BASINGSTOKE, HAMPSHIR...",FANUM HOUSE BASING VIEW,BASINGSTOKE,HAMPSHIRE,RG21 4EA,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
33,205069370,05149111,gb,DEREK JAMES ELLIOTT,NaN,DEREK JAMES,ELLIOTT,director,2004-10-01,72275690002,...,1969-02,Person,"50 WILTON CRESCENT\nWIMBLEDON, LONDON, SW19 3QS",50 WILTON CRESCENT\nWIMBLEDON,LONDON,NaN,SW19 3QS,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
34,205069386,05149111,gb,JOHN ANDREW GOODSELL,NaN,JOHN ANDREW,GOODSELL,director,2007-09-18,51490510002,...,1959-01,Person,"1 ENBROOK PARK, FOLKESTONE, KENT, CT20 3SE",1 ENBROOK PARK,FOLKESTONE,KENT,CT20 3SE,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
35,205069404,05149111,gb,NICHOLAS JOHN HEWITT,NaN,NICHOLAS JOHN,HEWITT,director,2014-06-26,189107810001,...,1962-03,Person,"FANUM HOUSE BASING VIEW, BASINGSTOKE, HAMPSHIR...",FANUM HOUSE BASING VIEW,BASINGSTOKE,HAMPSHIRE,RG21 4EA,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
37,205069440,05149111,gb,ROBIN PEVERIL HOOPER,NaN,ROBIN PEVERIL,HOOPER,director,2006-11-24,97001520002,...,1973-07,Person,"18 BEAUCLERC ROAD, LONDON, W6 0NS",18 BEAUCLERC ROAD,LONDON,NaN,W6 0NS,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
39,205069472,05149111,gb,CHRISTOPHER TREVOR PETER JANSEN,NaN,CHRISTOPHER TREVOR PETER,JANSEN,director,2014-01-06,184427650001,...,1970-07,Person,"FANUM HOUSE BASING VIEW, BASINGSTOKE, HAMPSHIR...",FANUM HOUSE BASING VIEW,BASINGSTOKE,HAMPSHIRE,RG21 4EA,UNITED KINGDOM,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
40,205069489,05149111,gb,JONATHAN RUSSELL KAYE,NaN,JONATHAN RUSSELL,KAYE,director,2005-11-28,126407230001,...,1973-01,Person,"13 KELMSCOTT ROAD, LONDON, SW11 6QX",13 KELMSCOTT ROAD,LONDON,NaN,SW11 6QX,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
41,205069514,05149111,gb,MATTHEW ROBERT LAYTON,NaN,MATTHEW ROBERT,LAYTON,director,2004-06-09,900019870001,...,1961-02,Person,"FLAT 49 8 NEW CRANE WHARF\nNEW CRANE PLACE, LO...",FLAT 49 8 NEW CRANE WHARF\nNEW CRANE PLACE,LONDON,NaN,E1W 3TX,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
43,205069549,05149111,gb,ROBERT RICHARD LUCAS,NaN,ROBERT RICHARD,LUCAS,director,2004-09-29,70329570002,...,1962-08,Person,"THE FORGE\nAYOT ST. LAWRENCE, WELWYN, HERTFORD...",THE FORGE\nAYOT ST. LAWRENCE,WELWYN,HERTFORDSHIRE,AL6 9BW,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
51,205069688,05149111,gb,DAVID JOHN PUDGE,NaN,DAVID JOHN,PUDGE,director,2004-06-09,900028170001,...,1965-08,Person,"20 HERONDALE AVENUE, LONDON, SW18 3JL",20 HERONDALE AVENUE,LONDON,NaN,SW18 3JL,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
55,205069751,05149111,gb,SUZANNE DOROTHY WILLIAMS,NaN,SUZANNE DOROTHY,WILLIAMS,director,2015-10-01,71960020002,...,1967-09,Person,"FANUM HOUSE\nBASING VIEW, BASINGSTOKE, HAMPSHI...",FANUM HOUSE\nBASING VIEW,BASINGSTOKE,HAMPSHIRE,RG21 4EA,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
56,205069768,05149111,gb,PAUL ANTONY WOOLF,NaN,PAUL ANTONY,WOOLF,director,2005-06-01,78818510001,...,1964-12,Person,"18 FAIRFAX ROAD, LONDON, W4 1EW",18 FAIRFAX ROAD,LONDON,NaN,W4 1EW,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
58,235069318,05149111,gb,VICTORIA HAYNES,NaN,VICTORIA,HAYNES,secretary,2013-10-01,182412280001,...,1973-01,Person,"ENBROOK PARK SANDGATE, FOLKESTONE, KENT, CT20 ...",ENBROOK PARK SANDGATE,FOLKESTONE,KENT,CT20 3SE,UNITED KINGDOM,2016-05-17 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/051...
59,188647611,04264801,gb,OCS CORPORATE SECRETARIES LIMITED,NaN,NaN,OCS CORPORATE SECRETARIES LIMITED,secretary,2001-08-03,900021500001,...,NaN,Company,"MINSHULL HOUSE 67 WELLINGTON ROAD NORTH, STOCK...",MINSHULL HOUSE 67 WELLINGTON ROAD NORTH,STOCKPORT,CHESHIRE,SK4 2LP,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/042...
60,188647622,04264801,gb,ANN DAPHNE RICHARDSON,NaN,ANN DAPHNE,RICHARDSON,secretary,2001-08-09,77561390001,...,1942-03,Person,"CHURCHILL HOUSE\nFURNERS MEAD, HENFIELD, WEST ...",CHURCHILL HOUSE\nFURNERS MEAD,HENFIELD,WEST SUSSEX,BN5 9JB,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/042...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9945,201276478,06358334,gb,ANDREW LANE,NaN,ANDREW,LANE,director,2007-09-03,124162520002,...,1965-09,Person,"256 ACKLAM ROAD, MIDDLESBROUGH, CLEVELAND, TS5...",256 ACKLAM ROAD,MIDDLESBROUGH,CLEVELAND,TS5 8AA,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/063...
9946,193030665,05564976,gb,AMANDA PILLING,NaN,AMANDA,PILLING,secretary,2005-09-15,107634870001,...,NaN,Person,"18 CHURCH LANE\nWRIGHTINGTON, WIGAN, LANCASHIR...",18 CHURCH LANE\nWRIGHTINGTON,WIGAN,LANCASHIRE,WN6 9SL,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9947,193030686,05564976,gb,ADRIAN PILLING,NaN,ADRIAN,PILLING,director,2005-09-15,107634860001,...,1966-09,Person,"18 CHURCH LANE\nWRIGHTINGTON, WIGAN, LANCASHIR...",18 CHURCH LANE\nWRIGHTINGTON,WIGAN,LANCASHIRE,WN6 9SL,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9949,207171056,06783554,gb,ANDREA NICOLAOU,NaN,ANDREA,NICOLAOU,secretary,2009-01-12,135684640001,...,NaN,Person,"27 MANDEVILLE ROAD\nSOUTHGATE, LONDON, N14 7NJ",27 MANDEVILLE ROAD\nSOUTHGATE,LONDON,NaN,N14 7NJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/067...
9951,207171089,06783554,gb,ANDREAS KOIZI,NaN,ANDREAS,KOIZI,director,2009-01-12,88068780001,...,1964-04,Person,"53 VICTORIA ROAD\nEDMONTON, LONDON, N18 2UG",53 VICTORIA ROAD\nEDMONTON,LONDON,NaN,N18 2UG,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/067...
9952,207619176,06244841,gb,SECSERVICE24 ADMINISTRATION & MANAGEMENT UK LI...,NaN,NaN,SECSERVICE24 ADMINISTRATION & MANAGEMENT UK LI...,secretary,2007-05-11,121398070001,...,NaN,Company,"THE MERIDIAN\n4 COPTHALL HOUSE, STATION SQUARE...","THE MERIDIAN\n4 COPTHALL HOUSE, STATION SQUARE",COVENTRY,WEST MIDLANDS,CV1 2FL,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/062...
9953,207619194,06244841,gb,GUENTER PLEYER,NaN,GUENTER,PLEYER,director,2007-05-11,121398060001,...,1940-12,Person,"SPIELMANNSTR. 18, FRANKFURT AM MAIN, D65934, G...",SPIELMANNSTR. 18,FRANKFURT AM MAIN,NaN,D65934,GERMANY,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/062...
9954,207619205,06244841,gb,JOERG SCHMIDT,NaN,JOERG,SCHMIDT,director,2007-05-11,121398050001,...,1943-03,Person,"ALT GRIESHEIM 19, FRANKFURT AM MAIN, D65933, G...",ALT GRIESHEIM 19,FRANKFURT AM MAIN,NaN,D65933,GERMANY,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/062...
9955,206963235,04381685,gb,SUZANNE BREWER,NaN,SUZANNE,BREWER,secretary,2002-02-26,900004890001,...,NaN,Person,"SOMERSET HOUSE\n40-49 PRICE STREET, BIRMINGHAM...",SOMERSET HOUSE\n40-49 PRICE STREET,BIRMINGHAM,NaN,B2 5DN,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/043...
9956,206963254,04381685,gb,ALLISON JANE DAVIES,NaN,ALLISON JANE,DAVIES,secretary,2002-02-26,80898600002,...,NaN,Person,CRANNMOOR FARM WROTTESLEY PARK ROAD\nWROTTESLE...,CRANNMOOR FARM WROTTESLEY PARK ROAD\nWROTTESLE...,WOLVERHAMPTON,NaN,WV8 2HS,ENGLAND,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/043...
9960,211204869,05557478,gb,M W DOUGLAS & COMPANY LIMITED,NaN,NaN,M W DOUGLAS & COMPANY LIMITED,secretary,2005-09-08,900007890001,...,NaN,Company,"REGENT HOUSE\n316 BEULAH HILL, LONDON, SE19 3HP",REGENT HOUSE\n316 BEULAH HILL,LONDON,NaN,SE19 3HP,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9962,211204900,05557478,gb,DOUGLAS NOMINEES LIMITED,NaN,NaN,DOUGLAS NOMINEES LIMITED,director,2005-09-08,900007880001,...,NaN,Company,"REGENT HOUSE\n316 BEULAH HILL, LONDON, SE19 3HF",REGENT HOUSE\n316 BEULAH HILL,LONDON,NaN,SE19 3HF,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9964,184200209,05522911,gb,MARIA CHRISTINE BRISTOW,NaN,MARIA CHRISTINE,BRISTOW,secretary,2005-07-29,107071450001,...,NaN,Person,"GREENTOPS\nHEADCORN ROAD SUTTON VALENCE, MAIDS...",GREENTOPS\nHEADCORN ROAD SUTTON VALENCE,MAIDSTONE,KENT,ME17 3EH,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9965,184200226,05522911,gb,TEMPLE SECRETARIES LIMITED,NaN,NaN,TEMPLE SECRETARIES LIMITED,secretary,2005-07-29,900001120001,...,NaN,Company,"788-790 FINCHLEY ROAD, LONDON, NW11 7TJ",788-790 FINCHLEY ROAD,LONDON,NaN,NW11 7TJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9967,184200263,05522911,gb,COMPANY DIRECTORS LIMITED,NaN,NaN,COMPANY DIRECTORS LIMITED,director,2005-07-29,900001110001,...,NaN,Company,"788-790 FINCHLEY ROAD, LONDON, NW11 7TJ",788-790 FINCHLEY ROAD,LONDON,NaN,NW11 7TJ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9968,184200277,05522911,gb,MARK DAVID JACKSON,NaN,MARK DAVID,JACKSON,director,2010-12-13,156645370001,...,1968-12,Person,"12 STILEBRIDGE LANE\nMARDEN, TONBRIDGE, KENT, ...",12 STILEBRIDGE LANE\nMARDEN,TONBRIDGE,KENT,TN12 9BJ,UK,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9969,204690059,06012183,gb,SIKANDAR AYUB,NaN,SIKANDAR,AYUB,secretary,2006-11-28,118371630001,...,1987-11,Person,"28 SELBOURNE AVENUE, DEWSBURY, WEST YORKSHIRE,...",28 SELBOURNE AVENUE,DEWSBURY,WEST YORKSHIRE,WF12 9PA,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/060...
9970,204690081,06012183,gb,FORM 10 SECRETARIES FD LTD,NaN,NaN,FORM 10 SECRETARIES FD LTD,secretary,2006-11-28,900015000001,...,NaN,Company,"39A LEICESTER ROAD\nSALFORD, MANCHESTER, M7 4AS",39A LEICESTER ROAD\nSALFORD,MANCHESTER,NaN,M7 4AS,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/060...
9971,204690093,06012183,gb,MOHAMMAD AYUB,NaN,MOHAMMAD,AYUB,director,2006-11-28,118371570001,...,1962-08,Person,"28 SELBOURNE AVENUE, DEWSBURY, WEST YORKSHIRE,...",28 SELBOURNE AVENUE,DEWSBURY,WEST YORKSHIRE,WF12 9PA,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/060...
9972,204690105,06012183,gb,FORM 10 DIRECTORS FD LTD,NaN,NaN,FORM 10 DIRECTORS FD LTD,director,2006-11-28,900014990001,...,NaN,Company,"39A LEICESTER ROAD\nSALFORD, MANCHESTER, M7 4AS",39A LEICESTER ROAD\nSALFORD,MANCHESTER,NaN,M7 4AS,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/060...
9973,212588593,06125942,gb,GO AHEAD SERVICE LIMITED,NaN,NaN,GO AHEAD SERVICE LIMITED,secretary,2007-02-23,900029810001,...,NaN,Company,"69 GREAT HAMPTON STREET, BIRMINGHAM, WEST MIDL...",69 GREAT HAMPTON STREET,BIRMINGHAM,WEST MIDLANDS,B18 6EW,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/061...
9974,212588609,06125942,gb,ALEXANDER DUBOVOY,NaN,ALEXANDER,DUBOVOY,director,2007-02-23,107358700001,...,1974-01,Person,"OSTPREUSENSTR.98, METTMANN, 40822, GERMANY",OSTPREUSENSTR.98,METTMANN,40822,NaN,GERMANY,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/061...
9975,212588621,06125942,gb,ANDREAS ORTMEYER,NaN,ANDREAS,ORTMEYER,director,2007-02-23,119001820002,...,1967-06,Person,"MOORSTR. 260, 48432 RHEINE, GERMANY",MOORSTR. 260,48432 RHEINE,NaN,NaN,GERMANY,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/061...
9983,207819187,05514579,gb,STEINBERG & PARTNERS BUSINESS CONSULTING CORP,NaN,NaN,STEINBERG & PARTNERS BUSINESS CONSULTING CORP,secretary,2005-07-20,900030980001,...,NaN,Company,"SUITE 3\n95 WILTON ROAD, LONDON, SW1V 1BZ",SUITE 3\n95 WILTON ROAD,LONDON,NaN,SW1V 1BZ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9984,207819209,05514579,gb,RICHARD ABELE,NaN,RICHARD,ABELE,director,2005-07-20,106509700001,...,1953-03,Person,"KRAEMERSTRASSE 17, LUDWIGSBURG, 71642, GERMANY",KRAEMERSTRASSE 17,LUDWIGSBURG,71642,NaN,GERMANY,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/055...
9986,195700316,06307539,gb,ANNE-MARIE JARNELL-JONES,NaN,ANNE-MARIE,JARNELL-JONES,secretary,2007-07-10,122840780001,...,1971-08,Person,"7 BLACKFRIARS, YARM ON TEES, NORTH YORKSHIRE, ...",7 BLACKFRIARS,YARM ON TEES,NORTH YORKSHIRE,TS15 9HQ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/063...
9988,195700344,06307539,gb,ANNE-MARIE JARNELL-JONES,NaN,ANNE-MARIE,JARNELL-JONES,director,2007-07-10,122840780001,...,1971-08,Person,"7 BLACKFRIARS, YARM ON TEES, NORTH YORKSHIRE, ...",7 BLACKFRIARS,YARM ON TEES,NORTH YORKSHIRE,TS15 9HQ,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/063...
9993,192495760,03636679,gb,LONDON LAW SECRETARIAL LIMITED,NaN,NaN,LONDON LAW SECRETARIAL LIMITED,secretary,1998-09-23,900001510001,...,NaN,Company,"84 TEMPLE CHAMBERS\nTEMPLE AVENUE, LONDON, EC4...",84 TEMPLE CHAMBERS\nTEMPLE AVENUE,LONDON,NaN,EC4Y 0HP,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/036...
9997,192495830,03636679,gb,LONDON LAW SERVICES LIMITED,NaN,NaN,LONDON LAW SERVICES LIMITED,director,1998-09-23,900001500001,...,NaN,Company,"84 TEMPLE CHAMBERS\nTEMPLE AVENUE, LONDON, EC4...",84 TEMPLE CHAMBERS\nTEMPLE AVENUE,LONDON,NaN,EC4Y 0HP,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/036...
9999,53288738,07375066,gb,ANTHONY LESLIE,NaN,ANTHONY,LESLIE,director,2010-09-14,154092280001,...,1964-12,Person,"THE HAWTHORNS GREEN MEADOWS\nHOM GREEN, ROSS-O...",THE HAWTHORNS GREEN MEADOWS\nHOM GREEN,ROSS-ON-WYE,HEREFORDSHIRE,HR9 7RE,NaN,2015-12-04 00:00:00 UTC,https://beta.companieshouse.gov.uk/company/073...

From this and further exploring the data there are two "types" of officer in the data; people and companies.

We will start with how to map People officers into the database. We will also ignore officers who have an "end date" as they are no longer actively connected to the company.

## People who are officers

First we will define a number of functions that can map the data into the node objects that we want to hold for people who are officers.

In [8]:
def officer_dob(record):
    "Function to create dob string identifier for person"
    record.fillna('')
    data = record['partial_date_of_birth']
    try:
        year, month = data.split('-')
        dob_segment = "{}/{}".format(str(month).zfill(2), year)
        return dob_segment
    except (AttributeError, TypeError, ValueError) as e:
        return '00/0000'

def officer_name_id(record):
    "Function to create name string identifier for person"
    fullname = record['name'].split()
    data = {
        'first_name': fullname[0],
        'last_name': record['last_name'],
        'middle_name': ' '.join(fullname[1:-1])
    }
    try:
        name_segment = "{}_{}_{}".format(data.get('last_name', '').upper(), 
                                         data.get('middle_name', '').lower(),
                                         data.get('first_name', '').lower())
        return name_segment.replace(' ', '-')
    except TypeError as e:
        return 'NONAME__BLANK'
    except AttributeError:
        return 'NONAME__BLANK'
    
def officer_uid(record):
    "Function to create a unique ID for someone from their name and dob"
    components = [officer_name_id(record), officer_dob(record)]
    return {'uid': ':'.join(components)}

def officer_name(record):
    "Function to create name record of person"
    fullname = record['name'].split()
    data = {
        'forename': fullname[0].title(),
        'surname': record['last_name'].title(),
        'middle_name': ' '.join(fullname[1:-1]).title(),
        'title': record['title'].title(),
        'name': ' '.join([record['title'], record['name']])
    }    
    try:
        name_record = {
            'surname': data.get('surname', ''),
            'middle_name': data.get('middle_name', ''),
            'forename': data.get('forename', ''),
            'title': data.get('title', ''),
            'name': data.get('name', '').upper()
        }
        return name_record
    except TypeError as e:
        return {}
    except AttributeError:
        return {}

def officer_address(record):
    "Function to create a address details for person"
    record.fillna('', inplace=True)
    address = record['address.street_address'].split('\\n')
    address_Line1 = address[0]
    address_Line2 = ''
    if len(address)>1:
        address_Line2 = address[1]

    data = {
        'address_line_1': address_Line1,
        'address_line_2': address_Line2,
        'locality': record['address.locality'],
        'region': record['address.region'],
        'postal_code': record['address.postal_code'],
        'country': record['address.country']
    }
    try:
        new_address = {
            'address_Line1': data.get('address_line_1', ''),
            'address_Line2': data.get('address_line_2', ''),
            'address_PostTown': data.get('locality', '').upper(),
            'address_POBox': data.get('po_box', ''),
            'address_County': data.get('region', '').upper(),
            'address_PostCode': data.get('postal_code', '').upper(),
            'address_Country': data.get('country', '').upper(),
            'address_InFull': record['address.in_full']
        }
        return new_address
    except TypeError as e:
        return {'address_Country': "UNKNOWN"}
    except AttributeError:
        return {'address_Country': "UNKNOWN"}
    
def officer_details(record):
    "Function to create a relationship details for person"
    details = {}
    details['company_id'] = str(record['company_number'])
    details['officer_kind'] = record['position'].upper()
    details['nationality'] = record['nationality']
    details['ceased_on'] = record['end_date']
    details['source_url'] = record['source_url']
    details['country_of_residence'] = record['country_of_residence']
    details['person_uid'] = str(record['person_uid'])
    dob = record['partial_date_of_birth']
    try:
        year, month = dob.split('-')
        details['DOB'] = "{}/{}".format(str(month).zfill(2), year)
    except (TypeError, ValueError) as e:
        pass
    return details
    

def new_officer_record(record):
    "Function to create a new record that is flat"
    uid = officer_uid(record)
    address = officer_address(record)
    return {**uid, **address, 
            **officer_details(record), 
            **officer_name(record)}

In [9]:
sample_df[sample_df.type == 'Person'].apply(new_officer_record, axis=1).iloc[2]

{'DOB': '08/1966',
 'address_Country': '',
 'address_County': 'WEST GLAMORGAN',
 'address_InFull': 'PENYCASTELL FARM BRYN, PORT TALBOT, WEST GLAMORGAN, SA13 2PY',
 'address_Line1': 'PENYCASTELL FARM BRYN',
 'address_Line2': '',
 'address_POBox': '',
 'address_PostCode': 'SA13 2PY',
 'address_PostTown': 'PORT TALBOT',
 'ceased_on': '',
 'company_id': '05957738',
 'country_of_residence': 'ENGLAND',
 'forename': 'Sally-Ann',
 'middle_name': 'Michelle',
 'name': 'MRS SALLY-ANN MICHELLE BROMLEY',
 'nationality': 'BRITISH',
 'officer_kind': 'DIRECTOR',
 'person_uid': '12148419',
 'source_url': 'https://beta.companieshouse.gov.uk/company/05957738',
 'surname': 'Bromley',
 'title': 'Mrs',
 'uid': 'BROMLEY_michelle_sally-ann:08/1966'}

We will use the reference objects that we have built before to know how to map countries and nationalities

In [10]:
country_code_map = pd.read_pickle('./data/clean_country_code_map.pkl')
combined_map = pd.read_pickle('./data/combined_country_map.pkl')
nationality_map = pd.read_pickle('./data/nation_map.pkl')

Let's wrap up our processing data into a function that can act on an input dataframe object

In [11]:
def officer_etl(original_df):
    original_df = original_df[original_df.type == 'Person']
    original_df = original_df[original_df.end_date.isnull()]
    processed_df = original_df.apply(lambda s: pd.Series(new_officer_record(s)), axis=1)
    processed_df['Citizen_of'] = processed_df.nationality.apply(lambda x: nationality_map.get(x.lower(), ''))
    processed_df['Registered_in'] = processed_df.address_Country.apply(lambda x: combined_map.get(x.lower(), ''))
    processed_df['Resident_in'] = processed_df.country_of_residence.apply(lambda x: combined_map.get(x.lower(), ''))
    input_data = [v for k,v in processed_df.T.to_dict().items()]
    return input_data

Example test of action a sample of the data

In [12]:
test = officer_etl(sample_df.head(20))
print(len(test))
print(test[0])

8
{'DOB': '05/1970', 'address_Country': 'UNITED KINGDOM', 'address_County': 'WEST MIDLANDS', 'address_InFull': '40 LEA MANOR DRIVE\\nPENN, WOLVERHAMPTON, WEST MIDLANDS, WV4 5PJ, UNITED KINGDOM', 'address_Line1': '40 LEA MANOR DRIVE', 'address_Line2': 'PENN', 'address_POBox': '', 'address_PostCode': 'WV4 5PJ', 'address_PostTown': 'WOLVERHAMPTON', 'ceased_on': '', 'company_id': '05957738', 'country_of_residence': 'UNITED KINGDOM', 'forename': 'David', 'middle_name': 'Ian', 'name': 'MR DAVID IAN BROMLEY', 'nationality': 'BRITISH', 'officer_kind': 'DIRECTOR', 'person_uid': '11594785', 'source_url': 'https://beta.companieshouse.gov.uk/company/05957738', 'surname': 'Bromley', 'title': 'Mr', 'uid': 'BROMLEY_ian_david:05/1970', 'Citizen_of': 'GB', 'Registered_in': '', 'Resident_in': ''}

## Looping through all of the data and pushing it into Neo4j

In [14]:
from neo4j.v1 import GraphDatabase
driver = GraphDatabase.driver("bolt://10.0.0.1:7687", auth=("myusername", "mypassword"))

In [15]:
num=0
done=0
chunks = pd.read_csv(master_path+'officers.csv', chunksize=100000)
for chunk in chunks:
    input_data = officer_etl(chunk)
    num+=1
    done+=len(input_data)
    print(num)
    if len(input_data) > 0:
        with driver.session() as session:
            session.run(("UNWIND {list} AS d "
                         "MERGE (c:Person {uid: d.uid}) "
                         "ON CREATE SET c.forename=d.forename, "
                         "c.middle_name=d.middle_name, "
                         "c.surname=d.surname, "
                         "c.title=d.title, "
                         "c.fullname=d.name, "
                         "c.dob=d.DOB, "
                         "c.person_uid=d.person_uid, "
                         "c.nationality=d.nationality, "
                         "c.address_Line1=d.address_Line1, "
                         "c.address_Line2=d.address_Line2, "
                         "c.address_PostTown=d.address_PostTown, "
                         "c.address_County=d.address_County, "
                         "c.address_PostCode=d.address_Postcode, "                 
                         "c.address_Country=d.address_Country, "                 
                         "c.uri=d.source_url;"), {"list": input_data})

        with driver.session() as session:
            session.run(("UNWIND {list} AS d "
                         "MATCH (c:Person {uid: d.uid}) "
                         "MERGE (country:Country {code: d.Registered_in}) "
                         "MERGE (c)-[:REGISTERED_IN]->(country);"), {"list": input_data})

        with driver.session() as session:
            session.run(("UNWIND {list} AS d "
                         "MATCH (c:Person {uid: d.uid}) "
                         "MERGE (country:Country {code: d.Citizen_of}) "
                         "MERGE (c)-[:CITIZEN_OF]->(country);"), {"list": input_data})

        with driver.session() as session:
            session.run(("UNWIND {list} AS d "
                         "MATCH (p:Person {uid: d.uid}) "
                         "SET p:Officer;"), {"list": input_data})    

        with driver.session() as session:
            session.run(("UNWIND {list} AS d "
                         "MATCH (p:Person {uid: d.uid}) "
                         "MERGE (c:Company {uid: d.company_id}) "
                         "CREATE (p)-[r:IS_OFFICER_OF {type: d.officer_kind, ceased_on: d.ceased_on}]->(c);"), {"list": input_data})
        print("Finished chunk...{}%".format(done/40386527))
    else:
        print("No records in this chunk")
print("DONE!")

1
Finished chunk...0.0010879618344008634%
2
DONE!